@font-face {
  font-family: ChulaNew;
  font-weight: normal;
  src: url(~@/assets/font/chulalongkornreg-webfont.woff2);
}
@font-face {
  font-family: ChulaNew;
  font-weight: bold;
  src: url(~@/assets/font/chulalongkornbold-webfont.woff2);
}
@font-face {
  font-family: ChulaCha;
  font-weight: normal;
  src: url(~@/assets/font/chulacharasnewreg-webfont.woff2);
}
@font-face {
  font-family: ChulaCha;
  font-weight: bold;
  src: url(~@/assets/font/chulacharasnewbold-webfont.woff2);
}
